.leaderboard-casino {
  display: flex;
  flex-direction: column;
  max-height: 95vh;
  overflow: hidden;
  padding: 0 3vw;
}

.leaderboard-casino .leaderboard-title {
  font-family: var(--font-title);
  text-transform: none;
  text-decoration: none;
  font-weight: 700;
  font-size: max(6vw, 8vh);
  letter-spacing: 5px;
  font-style: italic;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 2.5vh;
  margin-top: 2vh;
}

.leaderboard-casino .leaderboard-body {
  font-family: var(--font-body);
  margin-left: 5px; /*chip overflow offset*/
  display: grid;
  grid-template-rows: repeat(12, 1fr); /* show 12 players */
  height: 100vh;
}

.leaderboard-casino .leaderboard-row {
  color: white;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 0;
}

.leaderboard-row:nth-child(4n + 2),
.leaderboard-row:nth-child(4n + 4) {
  position: relative;
  left: 5vw;
  margin-right: 5vw;
}

.leaderboard-row:nth-child(4n + 2) .chip {
  background: var(--color-accent-mid);
}

.leaderboard-row:nth-child(4n + 3) .chip {
  background: var(--color-accent-light);
}

.leaderboard-row:nth-child(4n + 4) .chip {
  background: var(--color-primary);
}

.leaderboard-casino p.leaderboard-item,
.leaderboard-casino p.leaderboard-value {
  font-size: max(1.2vw, 2.6vh);
  line-height: 1.2;
  display: flex;
  align-items: center;
  word-break: break-word;
  position: relative;
}

.leaderboard-casino p.leaderboard-value {
  white-space: nowrap;
}

.leaderboard-casino .leaderboard-img {
  display: flex;
  align-items: center;
  margin-right: 18px;
}
