#textuality {
	height: 100%;
	width: 100%;
}

.header {
	position: fixed;
	top: 0px;
	width: 100%;
	border-bottom: 4px solid rgba(150,125,100,.3);
	height: 95px;
	background-color: rgba(0,0,0,.8);
}

.header-logoImage {
	position: absolute;
	left: 20px;
}

.header-phoneNumber {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 60px;
}

.main {
	position: absolute;
	width: 100%;
	background-color: rgba(0,0,0,.5);
}

#texts {
	padding: 5px 0;
	width: 60%;
}

.text-scroller{
	padding:20px;
}
.text-msg {

	font-size: 24px;
	margin-bottom: 10px;
	display: table;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.text-msg-left, .text-msg-right {
	display: table-cell;
	vertical-align: top;
	padding: 0 10px;
}

.text-msg-left {
	width: 150px;
}

.text-alias {
	font-weight: bold;
	color: #DB7;
	font-size:20px;
}

.text-timestamp {
	font-size: 14px;
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	border-top: 4px solid rgba(150,125,100,.3);
	height: 100px;
	background-color: rgba(0,0,0,.8);
}



.schedule-item {
	width: 20%;
	float: left;
	font-size: 25px;
	opacity: .4;
	border-left: 4px solid rgba(150,125,100,.3);
	padding-left: 10px;
	margin: 10px 0 10px 20px;
}



.schedule-item:first-child {
	opacity: 1;
}

.schedule-item:before {
    content: "next:";
    float: left;
    font-weight: bold;
    font-size: 25px;
    padding: 0 10px 0 0;
    color: #DB7;
    text-transform:uppercase;
}
.schedule-item:nth-child(1):before {
    content: "now:";
}
.schedule-item:nth-child(2):before {
    content: "next:";
}
.schedule-item:nth-child(3):before {
    content: "then:";
}
.schedule-item:nth-child(4):before {
    content: "later:";
}
