.table td {
	vertical-align: middle;
}

a {
	cursor: pointer;
}

#ta-main-texts {
	
}

.title-status {
	font-size: 14px;
	margin-left: 10px;
	color: #999;
}

tr .phone-number {
	font-size: 80%;
	color: #999;
}

.actual-time {
	font-size: 80%;
	color: #999;
}

.character-counter {
	font-weight: bold;
	display: block;
	text-align: right;
}

.typeahead.dropdown-menu {
	z-index: 2000;
}

.selected-participants {
	margin-top: 10px;
}

.participant-delete {
	cursor: pointer;
}

.admin-alias {
	display: inline-block;
	width: 140px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 0.9em;
	text-align: left;
	padding: 5px 8px;
}

.admin-alias .alias-delete {
	float: right;
	cursor: pointer;
}

.checkpoint-add-form * {
	box-sizing: initial;
}

.checkpoint-hashtag:before {
	content: '#';
}

.checkpoint-ticker-text:before {
	content: '[alias] ';
}

.compose-text-selected-badge {
	margin-left: 5px;
	vertical-align: middle;
	font-size: 0.9em;
}

.compose-text-dropdown-badge-icon {
	text-shadow: 0 0 15px #000, 0 0 15px #000;
	margin-right: 5px;
}