.cave-drawings {
	position: absolute;
	width: 25%;
	right: 0;
	top: -1000px;
	
	transition: transform 400ms;
	-webkit-transition: -webkit-transform 400ms;
	-moz-transition: -moz-transform 400ms;
}

.cave-drawings-src {
	display: none;
}

.cave-drawing {
	width: 100%;
	padding-bottom: 110%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.cave-drawing.aaron {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/aaron.png');
}

.cave-drawing.abbey {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/abby.png');
}

.cave-drawing.amanda {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/amanda.png');
}

.cave-drawing.andrew {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/andrew.png');
}

.cave-drawing.aubrey {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/aubrey.png');
}

.cave-drawing.bieber {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/bieber.png');
}

.cave-drawing.caitlin {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/caitlin.png');
}

.cave-drawing.emily {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/emily.png');
}

.cave-drawing.faw {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/faw.png');
}

.cave-drawing.jonathan {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/jonathan2.png');
}

.cave-drawing.kaylin {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/kaylin.png');
}

.cave-drawing.meredith {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/meredith.png');
}

.cave-drawing.michelle {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/michelle.png');
}

.cave-drawing.miley {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/miley.png');
}

.cave-drawing.morgan {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/morgan.png');
}

.cave-drawing.putin {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/putin.png');
}

.cave-drawing.reagan {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/reagan.png');
}

.cave-drawing.beyonce {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/beyonce.png');
	padding-bottom: 200%;
}

.cave-drawing.thomas {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/thomas.png');
}

.cave-drawing.tilda1 {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/tilda1.png');
}

.cave-drawing.tilda2 {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/tilda2.png');
	padding-bottom: 200%;
}

.cave-drawing.will {
	background-image: url('http://www.metfingo.com/projects/textuality_primitilda/cave_drawings/will.png');
}