@font-face {
  font-family: 'digital-7';
  src: url('/derby/digital-7_mono.ttf') format('truetype');
}

.tote-board {
  width: 88vw;
  aspect-ratio: 1100/440;
}

.tote-board-container {
  display: flex;
  justify-content: center;
  background: url('/derby/textures/toteboard.jpg'), #1c4028; /* solid dark green base */
  background-size: cover;
  background-position: center;
  box-shadow:
    inset 0 -1px 8px rgba(0, 0, 0, 0.5),
    inset 0 -2px 50px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  position: relative;
  padding: 32px;
  padding-top: 40px;
  font-family: 'eurostile', serif;
  letter-spacing: 0.17rem;
  text-transform: uppercase;
  font-weight: 800;
  font-style: normal;
  font-size: 1.8rem;
  gap: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.tote-board-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(28, 64, 40, 0.1),
    rgba(28, 64, 40, 0)
  );
  pointer-events: none;
  z-index: 1;
}

.tote-board-cell {
  font-family: 'digital-7', monospace;
  width: 2rem;
  height: 2.5rem;
  background-color: #000;
  color: #fe9742;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  text-transform: uppercase;
  padding-left: 0.3rem;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.tote-board-cell span {
  background: radial-gradient(circle, #ffe8a0 0%, #ffa736 50%, #ff8a00 100%);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow:
    0 0 1px #ffb347,
    0 0 2px #ff5e00;
  animation: flickerGlow 2.5s ease-in-out infinite;
}

.tote-board-note {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 700;
}

@keyframes flickerGlow {
  0%,
  100% {
    filter: drop-shadow(0 0 1px #ffb347);
  }
  50% {
    filter: drop-shadow(0 0 2px #ff8a00);
  }
}

.tote-board-stats {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 16px;
}

.tote-board-odds {
  flex: 0 0 33%;
}

.tote-board-activity {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  background-color: #444;
  border-radius: 6px;
  position: relative;
}
