@font-face {
  font-family: 'digital-7';
  src: url('/derby/digital-7_mono.ttf') format('truetype');
}

.tote-board {
  background-color: #2e2e2e;
  border-radius: 6px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 1100px;
  height: 440px;
  padding: 40px;
  display: flex;
  font-family: 'house-of-cards', serif;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-weight: 200;
  font-style: normal;
  font-size: 2rem;
  gap: 64px;
}

.tote-board-horses-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
