.feed {
  padding: 0 20px;
  overflow: hidden;
  font-family: dashiell-fine, serif;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 40px;
  right: 0;
}

.feed-witness-chat {
  font-family: dashiell-fine, serif;
  font-size: 5vh;
  text-decoration: underline;
  text-align: center;
  display: block;
  width: 100%;
  color: #aaa;
  padding-top: 1vh;
  text-transform: uppercase;
}
