@import '../colors';

.host {
  // position: absolute;
  // bottom: 0;
  // right: 0;
  // width: 30%;
  // max-width: 450px;
  // max-height: 50%;

  background-color: #000;
  border-top: 2px solid $yellow;
  border-left: 2px solid $yellow;
  overflow: hidden;
  position: relative;

  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  flex-basis: 50%;
  flex-grow: 0;
}
