.revealOverlay-suspect-container {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.revealOverlay-suspect-container.intro {
  animation-name: fadeIn, fadeOut;
  animation-duration: 0.5s, 0.5s;
  animation-delay: 0s, 9.5s;
  animation-fill-mode: forwards;
}

.revealOverlay-suspect-container.present {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0s;
}

.revealOverlay-suspect-container.no {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-delay: 4.5s;
}

.revealOverlay-suspect-container.yes {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-delay: 4.5s;
}

.revealOverlay-suspect-intro-title {
  font-family: dashiell-fine, serif;
  font-size: 4vw;

  animation-name: enlarge;
  animation-delay: 0;
  animation-duration: 10s;
  animation-fill-mode: both;
}

.revealOverlay-players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 75px;
}

.revealOverlay-player {
  flex-shrink: 1;
  margin: 1vw;
  border: 3px solid var(--yellow);
  border-radius: 4px;
}

.revealOverlay-players.no .revealOverlay-player {
  border-color: var(--red);
}

.revealOverlay-players.yes .revealOverlay-player {
  border-color: var(--green);
}

.revealOverlay-suspect-video-container {
  flex-shrink: 1;
  height: 400px;
}

.revealOverlay-suspect-video-container.no {
  border-color: var(--red);
}

.revealOverlay-suspect-video-container.yes {
  border-color: var(--green);

  animation-name: enlarge;
  animation-duration: 20s;
}

.revealOverlay-suspect-video-container img {
  height: 350px;
  width: 350px;
}

.revealOverlay-suspect-video-container video {
  height: 100%;
}

.revealOverlay-suspect-name {
  font-family: dashiell-fine, serif;
  font-size: 4vw;
  z-index: 10;
}

.red {
  color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

@keyframes shakeNo {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(10%);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
  }
}
