.tips {
  padding: 0 20px;
  overflow: hidden;
  font-family: dashiell-fine, serif;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 70px;
  right: 0;
}

.tips-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  padding: 2vw;

  animation-name: enlargeFromSmall, fadeInOut;
  animation-duration: 15s, 15s;
  animation-delay: 0s, 0s;
  animation-fill-mode: both, both;
}

.tip-item {
  font-size: 8vh;
  text-align: center;

  color: var(--white);
}

.tip-item-red {
  color: var(--red);
}

@keyframes enlargeFromSmall {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
