/* line 4, sass/interface.scss */
body {
  background-color: #000;
}

/* line 8, sass/interface.scss */
.clearfix:after, .tscreen-shell .texts-feed-item:after {
  content: "";
  display: table;
  clear: both;
}

/* line 14, sass/interface.scss */
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important;
}

/* line 27, sass/interface.scss */
.tscreen-shell {
  background-color: #0F020B;
  height: 100%;
  width: 100%;
  position: fixed;
}
/* line 33, sass/interface.scss */
.tscreen-shell, .tscreen-shell * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1em;
}
/* line 7, sass/_interface-title-bar.scss */
.tscreen-shell .tscreen-title-bar {
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #444444;
  padding: 10px;
  background-color: #2b1b17;
  box-shadow: 0 0 4px;
}
/* line 17, sass/_interface-title-bar.scss */
.tscreen-shell .tscreen-textuality {
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  color: #77bbdd;
}
/* line 23, sass/_interface-title-bar.scss */
.tscreen-shell .tscreen-textuality .tscreen-mova-logo {
  display: inline-block;
  background-image: url("/images/mova.png");
  background-repeat: no-repeat;
  height: 40px;
  width: 200px;
  background-size: contain;
  vertical-align: -4px;
}
/* line 34, sass/_interface-title-bar.scss */
.tscreen-shell .tscreen-phone-number {
  float: right;
  text-align: right;
  font-size: 3em;
  color: #77bbdd;
  font-family: "Roboto", sans-serif;
  line-height: 1em;
  position: relative;
}

.tscreen-shell .tscreen-phone-number:before {
  content: "Send texts to";
  text-transform: uppercase;
  color: #CCC;
  font-size: 14px;
  display: inline-block;
  margin-right: 6px;
  line-height: initial;
}

/* line 7, sass/_interface-texts.scss */
.tscreen-shell .tscreen-main {
  position: absolute;
  top: 70px;
  bottom: 50px;
  width: 100%;
}
/* line 14, sass/_interface-texts.scss */
.tscreen-shell .tscreen-texts-feed {
  position: absolute;
  left: 0;
  width: 66%;
  font-family: "News Cycle", sans-serif;
  font-size: 1.3em;
  color: #eedd88;
  padding: 15px 20px;
  height: 100%;
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  transition: transform 300ms;
}
/* line 29, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-item {
  margin-bottom: 1.1em;
  -webkit-transition: opacity 300ms linear 300ms;
  -moz-transition: opacity 300ms linear 300ms;
  -ms-transition: opacity 300ms linear 300ms;
  transition: opacity 300ms linear 300ms;
}
/* line 35, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-item.top-texter .texts-feed-name:after {
  content: "Top Texter";
  background-color: #741;
  padding: 4px 6px;
  display: inline-block;
  font-family: Helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.6em;
  color: #FFF;
  margin-left: 10px;
  border-radius: 4px;
  vertical-align: 4px;
  font-weight: bold;
}
/* line 54, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-meta {
  width: 30%;
  float: left;
  max-width: 300px;
}
/* line 60, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-name {
  display: inline-block;
}
/* line 64, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-text {
  width: 70%;
  float: left;
  line-height: 1.1em;
}
/* line 71, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-text-reply {
  font-weight: bold;
  color: #f32;
}
/* line 76, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-text:after {
  font-family: 'News Cycle';
  font-weight: bold;
  content: attr(data-reltime);
  font-size: 0.75em;
  color: #678;
  margin-left: 10px;
}
/* line 85, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-badges {
  color: #FFF;
  display: inline-block;
  margin-left: 8px;
}
/* line 90, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-badges i {
  margin-right: 8px;
}
/* line 94, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-badges .fa-star {
  color: #FE3;
}
/* line 99, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-achievement {
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: #333;
  font-family: Helvetica, Arial, sans-serif;
}
/* line 106, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-achievement.empty {
  background-color: #333 !important;
}
/* line 110, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-achievement:nth-child(10) {
  background-color: #E44;
}
/* line 113, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-achievement:nth-child(9) {
  background-color: #D94;
}
/* line 116, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-achievement:nth-child(8) {
  background-color: #FF4;
}
/* line 119, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-achievement:nth-child(7) {
  background-color: #AE4;
}
/* line 122, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-achievement:nth-child(6) {
  background-color: #4D4;
}
/* line 125, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-achievement:nth-child(5) {
  background-color: #4EA;
}
/* line 128, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-achievement:nth-child(4) {
  background-color: #48F;
}
/* line 131, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-achievement:nth-child(3) {
  background-color: #45F;
}
/* line 134, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-achievement:nth-child(2) {
  background-color: #83E;
}
/* line 137, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-achievement:nth-child(1) {
  background-color: #A38;
}
/* line 141, sass/_interface-texts.scss */
.tscreen-shell .texts-feed-achievement.special {
  background-color: transparent;
  color: #FE2;
  font-weight: bold;
  text-shadow: 0 0 2px #333, 0 0 2px #333, 0 0 2px #333;
  font-size: 14px;
  text-align: center;
}
/* line 1, sass/_interface-feature-area.scss */
.tscreen-shell .tscreen-feature-area {
  width: 35%;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 20px;
}
/* line 9, sass/_interface-feature-area.scss */
.tscreen-shell .tscreen-april {
  height: 80%;
  width: 100%;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/* line 18, sass/_interface-feature-area.scss */
.tscreen-shell .tscreen-admin-controls {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
}
/* line 1, sass/_interface-bottom-bar.scss */
.tscreen-shell .tscreen-bottom-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #444444;
  padding: 10px;
  background-color: #2b1b17;
  box-shadow: 0 0 4px;
  height: 50px;
}
/* line 13, sass/_interface-bottom-bar.scss */
.tscreen-shell .tscreen-ticker {
  font-family: 'Open Sans', sans-serif;
  color: #4BE;
  width: 5000%;
  font-size: 1.2em;
  line-height: 30px;
  position: relative;
}
/* line 21, sass/_interface-bottom-bar.scss */
.tscreen-shell .tscreen-ticker .tscreen-ticker-group {
  margin-right: 15px;
}
/* line 24, sass/_interface-bottom-bar.scss */
.tscreen-shell .tscreen-ticker .tscreen-ticker-group:after {
  font-family: FontAwesome;
  content: '\f0c8';
  margin-left: 15px;
  color: #666;
}
/* line 33, sass/_interface-bottom-bar.scss */
.tscreen-shell .tscreen-ticker .hashtag {
  color: #FFA;
  font-weight: bold;
}
/* line 37, sass/_interface-bottom-bar.scss */
.tscreen-shell .tscreen-ticker .tscreen-ticker-item {
  margin-right: 12px;
}
/* line 40, sass/_interface-bottom-bar.scss */
.tscreen-shell .tscreen-ticker .tscreen-ticker-item:last-child {
  margin-right: 0;
}
/* line 44, sass/_interface-bottom-bar.scss */
.tscreen-shell .tscreen-ticker .achievement-square {
  height: 10px;
  width: 10px;
  background-color: #333;
  display: inline-block;
}
/* line 51, sass/_interface-bottom-bar.scss */
.tscreen-shell .tscreen-ticker i.fa {
  margin-right: 3px;
}
/* line 55, sass/_interface-bottom-bar.scss */
.tscreen-shell .tscreen-ticker .fa-star {
  color: #FE3;
}
/* line 58, sass/_interface-bottom-bar.scss */
.tscreen-shell .tscreen-ticker .fa-location-arrow {
  color: #FFF;
}
/* line 61, sass/_interface-bottom-bar.scss */
.tscreen-shell .tscreen-ticker .fa-umbrella {
  color: #FFF;
}
/* line 64, sass/_interface-bottom-bar.scss */
.tscreen-shell .tscreen-ticker .fa-leaf {
  color: #6E7;
}
/* line 42, sass/interface.scss */
.tscreen-shell #tscreen-canvas {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}


.tscreen-shell .texts-feed-item.masterText {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -moz-animation-duration: 1500ms;
    -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
    -moz-animation-name: motherTilda;
    -webkit-animation-name: motherTilda;
  animation-name: motherTilda;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes motherTilda {
  0% {
    color: #2CF;
  }
  50% {
    color: #F4A;
  }
  100% {
    color: #2CF;
  }
}

@-moz-keyframes motherTilda {
  0% {
    color: #2AF;
  }
  25% {
    color: #22F;
  }
  50% {
    color: #F2A;
  }
  75% {
    color: #22F;
  }
  100% {
    color: #2AF;
  }
}

@-webkit-keyframes motherTilda {
  0% {
    color: #2CF;
  }
  50% {
    color: #F4A;
  }
  100% {
    color: #2CF;
  }
}

.tscreen-box {
    width: 100%;
    background-color: rgba(40,5,40,.8);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #D62;
    position: absolute;
    max-width: 450px;
    right: 20px;
}
.tscreen-box-title {
    text-align: center;
    font-family: 'Roboto', sas-serif;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px  #69D;
    padding-bottom: 11px;
    border-bottom-style: dashed;
}
.tscreen-featured-alias {
    font-size: 1.5em;
    margin-bottom: 7px;
}
.tscreen-box-content {
    padding-top: 15px;
}
.tscreen-featured-text {
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    color: #F7F;
}

.tscreen-box-featured-text .tscreen-box-content {
    text-align: center;
}

.leaders-table-heading {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
}
.leaders-list {
    list-style-type: decimal;
    font-size: 1.4em;
    list-style-position: inside;
    margin-top: 5px;
}
.leaders-list-alias {
    margin-left: 10px;
}
.leaders-list-texts {
    float: right;
}

.leaders-list-leader {
    padding-top: 10px;
}

.leaders-list-leader:nth-child(10) {
  color: #E44;
}
/* line 113, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(9) {
  color: #D94;
}
/* line 116, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(8) {
  color: #FF4;
}
/* line 119, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(7) {
  color: #AE4;
}
/* line 122, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(6) {
  color: #4D4;
}
/* line 125, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(5) {
  color: #4EA;
}
/* line 128, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(4) {
  color: #48F;
}
/* line 131, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(3) {
  color: #45F;
}
/* line 134, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(2) {
  color: #83E;
}
/* line 137, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(1) {
  color: #A38;
}


.tscreen-april {
  z-index: 1;
}

.tscreen-april>div {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

.tscreen-box {
  right: -100%;

  -webkit-transition: right 400ms;
  -moz-transition: right 400ms;
  transition: right 400ms;
}

.tscreen-feature-area.leaderboard .tscreen-leaderboard-box {
  right: 20px;
}

.tscreen-feature-area.question .tscreen-question-box {
  right: 20px;
}

.tscreen-feature-area.featured-text .tscreen-featured-box {
  right: 20px;
}

.tscreen-box-question {
    color: #F7D;
    font-weight: bold;
    font-size: 1.4em;
}

.tscreen-april>div {
  -webkit-transition: right 1.5s, bottom 1.5s;
  -moz-transition: right 1.5s, bottom 1.5s;
  transition: right 1.5s, bottom 1.5s;

}

div.tscreen-april-standing1 {
  background-image:url('/images/april_standing_1.png');
  right: -150%;
}

div.tscreen-april-standing2 {
  background-image:url('/images/april_standing_2.png');
  right: -150%;
}

div.tscreen-april-standing-selfie {
  background-image:url('/images/april_standing_selfie.png');
  right: -150%;
}

div.tscreen-april-floating {
  background-image:url('/images/april_floating.png');
  right: -150%;
  bottom: -150%;
}

div.tscreen-april-laying {
  background-image:url('/images/april_horizontal.png');
  bottom: -150%;
  -webkit-transform: translateY(37px);
  -moz-transform: translateY(37px);
  transform: translateY(37px);
}

.tscreen-april.standing div.tscreen-april-standing1,
.tscreen-april.standing div.tscreen-april-standing2 {  
  bottom: 0;
  right: 0;
}

.tscreen-april.standing-selfie div.tscreen-april-standing-selfie {
  bottom: 0;
  right: 0;
}

.tscreen-april.floating div.tscreen-april-floating {
  bottom: 0;
  right: 0;
}

.tscreen-april.laying div.tscreen-april-laying {
  bottom: 0;
  right: 0;
}



.tscreen-shell .tscreen-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 30%;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  color: #F89;
  text-shadow: 0 0 20px #981;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.7);
  z-index:2;

  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -moz-animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
    -moz-animation-name: motherTilda;
    -webkit-animation-name: motherTilda;
  animation-name: motherTilda;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;

}

.tscreen-shell.actionText {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
    -moz-animation-name: actionText;
    -webkit-animation-name: actionText;
  animation-name: actionText;
  -moz-animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.tscreen-shell.actionText .tscreen-overlay {
  display: block;
} 

@keyframes actionText {
  0% {
    -webkit-transform: scale3d(1,1,1) rotate(0turn);
  }
  25% {
    -webkit-transform: scale3d(1.1,1.1,1) rotate(0.01turn);
  }
  50% {
    -webkit-transform: scale3d(1,1,1) rotate(0turn);
  }
  75% {
    -webkit-transform: scale3d(1.1,1.1,1) rotate(-0.01turn);
  }
  100% {
    -webkit-transform: scale3d(1,1,1) rotate(0turn);
  }
}

@-moz-keyframes actionText {
  0% {
    -webkit-transform: scale3d(1,1,1) rotate(0turn);
  }
  25% {
    -webkit-transform: scale3d(1.1,1.1,1) rotate(0.01turn);
  }
  50% {
    -webkit-transform: scale3d(1,1,1) rotate(0turn);
  }
  75% {
    -webkit-transform: scale3d(1.1,1.1,1) rotate(-0.01turn);
  }
  100% {
    -webkit-transform: scale3d(1,1,1) rotate(0turn);
  }
}

@-webkit-keyframes actionText {
  0% {
    -webkit-transform: scale3d(1,1,1) rotate(0turn);
  }
  25% {
    -webkit-transform: scale3d(1.1,1.1,1) rotate(0.01turn);
  }
  50% {
    -webkit-transform: scale3d(1,1,1) rotate(0turn);
  }
  75% {
    -webkit-transform: scale3d(1.1,1.1,1) rotate(-0.01turn);
  }
  100% {
    -webkit-transform: scale3d(1,1,1) rotate(0turn);
  }
}
