.led-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.led {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.led-red {
  background-color: #f00;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
    inset #441313 0 -1px 9px,
    rgba(255, 0, 0, 0.5) 0 2px 12px;
  animation: blink-red 0.5s infinite;
  animation-delay: 0.125s;
}

.led-yellow {
  background-color: #ff0;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
    inset #808002 0 -1px 9px,
    #ff0 0 2px 12px;
  animation: blink-yellow 0.5s infinite;
}

.led-magenta {
  background-color: #d900e0;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
    inset #68006b 0 -1px 9px,
    #d900e0 0 2px 12px;
  animation: blink-magenta 0.5s infinite;
  animation-delay: 0.25s;
}

.led-green {
  background-color: #00e01e;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
    inset #007a10 0 -1px 9px,
    #00e01e 0 2px 12px;
  animation: blink-green 0.5s infinite;
  animation-delay: 0.375s;
}

@keyframes blink-red {
  from {
    background-color: #f00;
  }
  50% {
    background-color: #a00;
    /* box-shadow:
      rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
      inset #441313 0 -1px 9px,
      rgba(255, 0, 0, 0.5) 0 2px 0; */
  }
  to {
    background-color: #f00;
  }
}

@keyframes blink-yellow {
  from {
    background-color: #ff0;
  }
  50% {
    background-color: #aa0;
    /* box-shadow:
      rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
      inset #808002 0 -1px 9px,
      #ff0 0 2px 0; */
  }
  to {
    background-color: #ff0;
  }
}

@keyframes blink-green {
  from {
    background-color: #00e01e;
  }
  50% {
    background-color: #007a10;
    /* box-shadow:
      rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
      inset #007a10 0 -1px 9px,
      #00e01e 0 2px 0; */
  }
  to {
    background-color: #00e01e;
  }
}

@keyframes blink-magenta {
  from {
    background-color: #d900e0;
  }
  50% {
    background-color: #68006b;
    /* box-shadow:
      rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
      inset #68006b 0 -1px 9px,
      #d900e0 0 2px 0; */
  }
  to {
    background-color: #d900e0;
  }
}

@media screen and (max-aspect-ratio: 3/1) {
  .led-container {
    display: none;
  }
}
