.slot-machine {
  background-repeat: repeat;
  background-size: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  color: #ccc;
}

.title-container {
  height: 30%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-shadow: min(1vw, 0.25vh) min(1.5vw, 0.4vh) min(2vw, 0.5vh) black;
}

.instrux-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-name {
  font-family: gin, serif;
  font-weight: 400;
  font-style: italic;
  font-size: min(26vw, 8vh);
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.title-tospin {
  font-family: rockwell-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: min(11vw, 2.5vh);
  text-transform: uppercase;
  transform: translateY(min(6vw, 1.5vh));
}

.title-short {
  font-family: rockwell-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: min(28vw, 8vh);
  text-transform: uppercase;
}

.title-price {
  font-family: rockwell-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: min(12vw, 4vh);
  text-transform: uppercase;
}

.title-price-bb {
  color: #ffc250;
  font-weight: 700;
}

.reels-container {
  height: 45%;
  width: 100%;
  top: 30%;
  position: absolute;
}

.reels {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: gray;
  margin: 0 auto;
  border: solid min(5vw, 0.5vh) gray;
  width: 25vh;
  max-width: 82vw;
}

.slot-bottom {
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
