.slot-machine {
  background-repeat: repeat;
  background-size: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  color: #ccc;
}

.title-container {
  height: 30%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.instrux-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-name {
  font-family: gin, serif;
  font-weight: 400;
  font-style: italic;
  font-size: min(26vw, 6vh);
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.title-tospin {
  font-family: rockwell-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: min(11vw, 2.5vh);
  text-transform: uppercase;
  margin-bottom: -1vh;
}

.title-short {
  font-family: rockwell-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: min(28vw, 6vh);
  text-transform: uppercase;
}

.title-price {
  font-family: rockwell-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: min(12vw, 4vh);
  text-transform: uppercase;
}

.title-price-bb {
  color: #ffc250;
  font-weight: 700;
}

.reels-container {
  height: 45%;
  width: 100%;
  top: 30%;
  position: absolute;
}

.reels {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: gray;
  margin: 0 auto;
  border: solid min(5vw, 0.5vh) gray;
  width: 25vh;
  max-width: 82vw;
}

.slot-bottom {
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.title {
  font-family: gin, serif;
  font-weight: 400;
  font-style: normal;
}

.body {
  font-family: rockwell-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.body-medium {
  font-family: rockwell-nova, sans-serif;
  font-weight: 700;
  font-style: medium;
}

.align-right {
  text-align: right;
}

.wallet {
  margin-top: 1vw;
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}
