.slot-machine {
  background-size: contain;
  background-repeat: repeat;
  height: 100vh;
}

.reels {
  position: relative;
  background-color: gray;
  max-width: 450px;
  margin: 10vw auto 10vw auto;
  border: solid 10px gray;
}

.flex {
  display: flex;
}

.avatar {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.title {
  font-family: gin, serif;
  font-weight: 400;
  font-style: normal;
}

.body {
  font-family: rockwell-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.body-medium {
  font-family: rockwell-nova, sans-serif;
  font-weight: 700;
  font-style: medium;
}

.align-right {
  text-align: right;
}

.wallet {
  margin-top: 1vw;
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}
