:root {
  --derby-burgundy: #681E22;
  --derby-beige: #C4B090;
  --derby-black: #16171B;
  --derby-off-white: #FEFAE7;
  --derby-orange: #945226;
}


#horse-race-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--derby-beige);
}

#horse-race-screen h1 {
  color: var(--derby-burgundy);
  font-family: brioso-pro-display, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}
