<template name="adminAliases">

	<div class="row">
		<div class="col-xs-12">
			<h2>Aliases<span class="title-status">{{aliasesUsed}} used, {{aliasesRemaining}} remaining</span></h2>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<form class="alias-add-form form-inline" role="form">
				<input type="text" class="form-control alias-add-text input-sm" />
				<button type="submit" class="alias-add-btn btn btn-sm btn-success">Add Alias</button>
			</form>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div style="text-align: right;">
				<button class="alias-resetall-btn btn btn-sm btn-warning">Reset All</button>
				<button class="alias-deleteall-btn btn btn-sm btn-danger">Delete All</button>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 15px;">
		<div class="col-xs-12">
			{{> aliasesList}}
		</div>
	</div>

</template>

<template name="aliasesList">
	{{#each aliases}}
		<li class="label admin-alias {{aliasClass}}" data-alias="{{_id}}">{{_id}} <span class="alias-delete"><i class="fa fa-times"></i></span></li>
	{{/each}}
</template>