<template name="adminBadges">

	<div class="row">
		<div class="col-xs-12">
			<h2>Badges<span class="title-status">{{totalAwarded}} awarded</span></h2>
		</div>
	</div>

	<div class="row">

		<div class="col-md-9">
			<h4>Automatic Badges</h4>
			{{>badgesTable autoBadges}}
			<h4>Manual Badges</h4>
			{{>badgesTable manualBadges}}
		</div>

		<div class="col-md-3">
			{{>createBadge}}
		</div>

	</div>
	
</template>

<template name="badgesTable">
	<table class="table badge-table">
		<thead>
			<tr>
				<th>Badge</th>
				<th>Name</th>
				<th>Icon code</th>
				<th>Color</th>
				<th># Awarded</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{{#each this}}
			<tr>
				<td class="badge-cell"><i class="fa {{icon}}" style="color:{{color}};"></i></td>
				<td>{{name}}</td>
				<td>{{icon}}</td>
				<td>{{color}}</td>
				<td>{{awarded}}</td>
				<td>
					<button class="btn btn-sm btn-danger badge-delete">Delete</button>
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>	
</template>