<template name="adminScreenControl">

	<div class="row">
		<div class="col-xs-12">
			<h2>Screen Control</h2>
		</div>
	</div>

	<div class="row">
		{{#each screenSettings}}
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">{{description}}</div>
				<div class="panel-body">
				{{>screenControlItem}}
				</div>
			</div>
		</div>
		{{/each}}
	</div>	
</template>

<template name="screenControlItem">
	<form class="screen-settings-form">
		{{#if isType 'text'}}
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" value="{{value}}" name="{{_id}}">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button">Save</button>
					</span>
				</div>
			</div>
		{{/if}}
		{{#if isType 'range'}}
			<div class="form-group">
				<input type="range" max="{{max}}" min="{{min}}" class="form-control" value="{{value}}" name="{{_id}}">
			</div>
		{{/if}}
		{{#if isType 'color'}}
			<div class="form-group">
				<input type="color" class="form-control" value="{{value}}" name="{{_id}}">
			</div>
		{{/if}}
		{{#if isType 'options'}}
			{{#each options}}
				<div class="radio">
					<label>
						<input type="radio" name="{{../_id}}" value="{{value}}" {{isSelected ../value}}> {{description}}
					</label>
				</div>
			{{/each}}
		{{/if}}
		{{#if isType 'boolean'}}
			<div class="checkbox">
				<label>
					<input type="checkbox" name="{{_id}}" {{isChecked}}>
				</label>
			</div>
		{{/if}}
	</form>
</template>