<template name="adminTextsTable">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th></th>
				<th>Participant</th>
				<th>Body</th>
				<th>Status</th>
				<th>Time</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each this}}
				{{> adminTextRow}}
			{{/each}}
		</tbody>
	</table>
</template>

<template name="adminTextRow">
	<tr>
		<td>{{direction}}</td>
		<td>{{alias}} <span class="phone-number">{{participant}}</span></td>
		<td>{{body}}</td>
		<td>{{status}}</td>
		<td>{{timeRelative time}}</td>
		<td class="text-button-cell">
			{{#unless isMaster}}
				<button class="text-table-favorite btn btn-xs btn-default"><i class="fa fa-circle{{#unless favorite}}-o{{/unless}} {{favoriteColorClass}}"></i></button>
				<button class="text-table-mention btn btn-xs btn-default">@</button>
				<button class="text-table-reply btn btn-xs btn-default"><i class="fa fa-reply"></i></button>
			{{/unless}}
		</td>
	</tr>
</template>
