.teller-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.teller-state-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #eee;
  min-height: 0;
  max-width: 95vw;
  max-height: 90vh;
  height: 100%;
  gap: clamp(8px, 2vh, 32px);
}

.at-sign span {
  top: -0.7rem;
}

.teller-status-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.teller-status,
.teller-bet-status {
  /* flex: 0 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.teller-status-info {
  display: flex;
  gap: 16px;
  align-items: center;
}

.teller-status-info-label {
  text-align: right;
  font-family: 'eurostile', sans-serif;
  letter-spacing: 0.17rem;
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;
  transform: scaleY(1.4);
}

.teller-status-info > * {
  flex: 0 0 50%;
}

.teller-video {
  width: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  margin: 0 auto;
}

@media (max-width: 250px) and (min-height: 700px) {
  .teller-video {
    width: 100%;
    height: 500px;
    flex: none;
  }
}

@media (max-width: 200px) and (min-height: 700px) {
  .teller-video {
    width: 100%;
    height: 530px;
    flex: none;
    position: relative;
    top: 18px;
  }
}

.teller-video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.teller-video-transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.teller-bet-status-leds {
  /* flex: 0 0 auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.teller-bet-status-leds > * {
  flex: 1;
}

.teller-bet-status-leds img {
  width: 48px;
  height: 48px;
}
