.chip {
  margin: 0.5em;
  font-size: 1.2em;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  position: relative; /* Use relative positioning for .chip */
  border: 0.3em dashed #121639;
  backface-visibility: hidden;
  box-shadow: 0 0 0 0.2em #121639;
}
