.rouletteScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;

  background:
    radial-gradient(
        hsl(103, 30%, 27%) 4%,
        hsl(103, 30%, 18%) 9%,
        hsla(103, 30%, 20%, 0) 9%
      )
      0 0,
    radial-gradient(
        hsl(103, 30%, 27%) 4%,
        hsl(103, 30%, 18%) 8%,
        hsla(103, 30%, 20%, 0) 10%
      )
      50px 50px,
    radial-gradient(hsla(103, 30%, 30%, 0.8) 20%, hsla(103, 30%, 20%, 0)) 50px 0,
    radial-gradient(hsla(103, 30%, 30%, 0.8) 20%, hsla(103, 30%, 20%, 0)) 0 50px,
    radial-gradient(hsla(103, 30%, 20%, 1) 35%, hsla(103, 30%, 20%, 0) 60%) 50px
      0,
    radial-gradient(hsla(103, 30%, 20%, 1) 35%, hsla(103, 30%, 20%, 0) 60%)
      100px 50px,
    radial-gradient(hsla(103, 30%, 15%, 0.7), hsla(103, 30%, 20%, 0)) 0 0,
    radial-gradient(hsla(103, 30%, 15%, 0.7), hsla(103, 30%, 20%, 0)) 50px 50px,
    linear-gradient(
        45deg,
        hsla(103, 30%, 20%, 0) 49%,
        hsla(103, 30%, 0%, 1) 50%,
        hsla(103, 30%, 20%, 0) 70%
      )
      0 0,
    linear-gradient(
        -45deg,
        hsla(103, 30%, 20%, 0) 49%,
        hsla(103, 30%, 0%, 1) 50%,
        hsla(103, 30%, 20%, 0) 70%
      )
      0 0;
  background-color: #300;
  background-size: 100px 100px;
}

.roulette {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: rockwell-nova, sans-serif;
  padding: 50px 50px 60px 50px;
}

.bettingArea {
  transition: transform 500ms;
}

.roulette.inactive .bettingArea {
  transform: translateY(100vh);
}

.roulette.winners-board .bettingArea {
  transform: translateX(-100vw);
}

.roulette.winners-board .rouletteWheel {
  transform: translateX(100vw);
}

.roulette.inactive h2 {
  transform: translateY(-100vh);
}

.roulette.winners-board h2 {
  transform: translateY(-100vh);
}

.leaderboardArea {
  transition: transform 500ms;
  position: absolute;
  width: 42vw;
  transform: translateX(-100vw);
  top: 60px;
}

.roulette.inactive .leaderboardArea {
  transform: translateX(0);
}

.winnerBoard {
  transition: transform 500ms;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(100vh);
}

.roulette.winners-board .winnerBoard {
  transform: translateY(0);
}

.roulette.inactive .rouletteWheel .inner {
  filter: brightness(25%);
}

.rouletteWheel .inner {
  transition: filter 1000ms;
}

h2 {
  font-family: gin, serif;
  color: #fea70a;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 5px;
  margin-bottom: 8px;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
  font-style: italic;
  transition: transform 500ms;
}

h2 span {
  color: #d01935;
}

p:first-child {
  font-size: 26px;
  margin-bottom: 8px;
}

p {
  font-weight: 400;
  line-height: 1.6;
  font-size: 24px;
}

.instructions {
  margin-bottom: 40px;
  margin-top: 16px;
}

.instructions code {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2px;
}

.fade-in-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in-out.active {
  opacity: 1;
}

.rouletteTable {
  display: flex;
  align-items: start;
  height: 100%;
}

.rouletteGrid {
  margin-top: 24px;
}

.rouletteWheel {
  position: relative;
  top: -68px;
  left: 30px;
  transform: scale(0.9);
  filter: drop-shadow(10px 10px 16px black);
  transition: transform 500ms;
}

.betFeeds {
  margin-top: 32px;
}

@media (max-height: 720px) {
  h2 {
    font-size: 90px;
  }

  .rouletteWheel {
    top: -100px;
    transform: scale(0.9);
  }
}

@media (max-height: 600px) {
  .roulette {
    padding-top: 30px;
  }
  h2 {
    display: none;
  }

  p {
    font-size: 24px;
  }

  p + p {
    font-size: 20px;
    padding-top: 4px;
  }

  .rouletteGrid {
    margin-top: 0;
    padding-bottom: 60px;
    margin-top: 12px;
  }

  .bettingArea {
    flex-grow: 2;
  }

  .instructions {
    width: 48vw;
    margin-top: 0;
  }

  .rouletteWheel {
    transform: scale(0.68);
    left: -30px;
  }

  .leaderboardArea {
    top: 30px;
  }

  .betFeeds {
    margin-top: 24px;
    font-size: 20px;
  }

  .betFeeds .chip {
    margin-right: 8px;
  }
}
