.rouletteGrid {
  border-collapse: collapse;
  border-spacing: 0;
}

.rouletteGrid .noBorder {
  border-top: none;
  border-bottom: none;
}

.rouletteGrid table {
  border-collapse: collapse;
}

.rouletteGrid td {
  width: 52px;
  height: 52px;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #fff;
  background-color: rgb(63, 63, 63);
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
}

.rouletteGrid td.red {
  background-color: rgb(209, 26, 53);
  color: #fff;
}

.rouletteGrid td.black {
  background-color: #000;
  color: #fff;
}

.rouletteGrid td.green {
  color: #fff;
  background-color: hsla(120, 100%, 16%, 1);
}

.rouletteGrid td.zero {
  border: none;
  border-left: 2px solid #fff;
}

.rouletteGrid tr:first-child .zero {
  border-top: 2px solid #fff;
}

.rouletteGrid tr:nth-of-type(3) .zero {
  border-bottom: 2px solid #fff;
}

.rouletteGrid td.empty {
  border: none;
  background-color: transparent;
}

.rouletteGrid table .chip {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: enter 2s ease-out;
  transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
}

@keyframes enter {
  0% {
    transform: scale(2) rotateX(0deg);
    opacity: 0;
  }
  15% {
    transform: scale(4) rotate3d(0, 1, 0, 0);
    opacity: 1;
  }
  100% {
    transform-origin: 50% 50%;
    transform: scale(1) rotate3d(0, 1, 0, 3600deg) translate(-50%, -50%);
  }
}
/* 
@keyframes enter {
  0% {
    transform: scale(2) translate(-50%, -50%);
    opacity: 0;
  }
  15% {
    transform: scale(4) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
} */

.betFeeds {
  display: flex;
  animation: fadeIn 0.5s ease-in-out;
}

.betFeeds .chip {
  margin-right: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
