<template name="aliasesPage">
	<div class="container-fluid">

	{{#isolate}}

	<div class="row-fluid">
		<div class="span12">
			<h2>Aliases<span class="title-status">{{aliasesUsed}} used, {{aliasesRemaining}} remaining</span></h2>
		</div>
	</div>

	{{/isolate}}

	<div class="row-fluid">
		<div class="span6">
			<form class="alias-add-form form-inline">
				<input type="text" class="alias-add-text input-large" />
				<button type="submit" class="alias-add-btn btn">Add Alias</button>
			</form>
		</div>
		<div class="span6">
			<form class="form-inline" style="text-align: right">
				<button class="alias-resetall-btn btn btn-warning">Reset All</button>
				<button class="alias-deleteall-btn btn btn-danger">Delete All</button>
			</form>
		</div>
	</div>
	{{#isolate}}

	<div class="row-fluid">
		<div class="span12">
			{{> aliasesList}}
		</div>
	</div>

	{{/isolate}}
	</div>
</template>

<template name="aliasesList">
	<div>
		{{#each aliases}}
			<li class="label admin-alias {{aliasClass}}" data-alias="{{_id}}">{{_id}} <span class="alias-delete"><i class="icon-remove"></i></span></span>
		{{/each}}}
	</div>	
</template>