<template name="checkpointsPage">
	<div class="container-fluid">

	{{#isolate}}

	<div class="row-fluid">
		<div class="span12">
			<h2>Checkpoints<span class="title-status">{{numCheckpoints}} checkpoints, {{numCheckins}} checkins</span></h2>
		</div>
	</div>

	{{/isolate}}

	<div class="row-fluid">
	{{#isolate}}

		<div class="span9">
			{{> checkpointsTable}}
		</div>

	{{/isolate}}
		<div class="span3">
			<div class="well">
			<h3>Add Checkpoint</h3>
			<form class="checkpoint-add-form">
				<label>Hashtag</label>
				<div class="input-prepend">
					<span class="add-on">#</span>
					<input type="text" class="input-medium" name="hashtag" />
				</div>
				<label>Location</label>
				<input type="text" class="input-medium" name="location" />
				<label>Ticker Text</label>
				<div class="input-prepend">
					<span class="add-on">[alias]</span>
					<input type="text" class="input-medium" name="tickerText" />
				</div>
				<label>User Text</label>
				<textarea name="userText"></textarea><br />
				<button type="submit" class="checkpoint-add-btn btn">Add Checkpoint</button>
			</form>
			</div>
			<button class="checkins-clearall-btn btn btn-warning">Reset Checkins</button>
		</div>
	</div>
	
	</div>
</template>

<template name="checkpointsTable">
	<table class="table">
		<thead>
			<tr>
				<th>Hashtag</th>
				<th>Location</th>
				<th>Ticker Text</th>
				<th>User Text</th>
				<th>Checkins</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{{#each checkpoints}}
			<tr>
				<td class="checkpoint-hashtag">{{_id}}</td>
				<td>{{location}}</td>
				<td class="checkpoint-ticker-text">{{tickerText}}</td>
				<td>{{userText}}</td>
				<td>{{numCheckins}}</td>
				<td><button class="btn btn-mini btn-danger checkpoint-delete">Delete</button></td>
			</tr>
		{{/each}}}
		</tbody>
	</table>	
</template>