<template name="composeTextModal">
	<div id="composeText" class="modal hide">
		<div class="modal-header">
			<h3>Compose Text</h3>
		</div>
		<div class="modal-body">
			<label class="radio">
				<input type="radio" name="recipientType" value="screen" checked />
				Screen (no char limit)
			</label>
			<label class="radio">
				<input type="radio" name="recipientType" value="users" />
				User(s)
			</label>
			<div class="users-area form-inline">
				<input type="text" class="composetext-alias" />
				<div class="btn-group">
					<button class="btn btn-small btn-primary composetext-add" data-num="1">Add 1</button>
					<button class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">Random</a></li>
						<li><a href="#">Low PScore</a></li>
						<li><a href="#">High PScore</a></li>
						<li><a href="#">Joined recently</a></li>
					</ul>
				</div>
				<div class="btn-group">
					<button class="btn btn-small btn-primary composetext-add" data-num="5">Add 5</button>
					<button class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">Random</a></li>
						<li><a href="#">Low PScore</a></li>
						<li><a href="#">High PScore</a></li>
						<li><a href="#">Joined recently</a></li>
					</ul>
				</div>
				<div class="btn-group">
					<button class="btn btn-small btn-primary composetext-add" data-num="20">Add 20</button>
					<button class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">Random</a></li>
						<li><a href="#">Low PScore</a></li>
						<li><a href="#">High PScore</a></li>
						<li><a href="#">Joined recently</a></li>
					</ul>
				</div>
				<div class="selected-participants">
					{{#isolate}}
						{{#each composeTextParticipants}}
							{{> composeTextParticipant}}
						{{/each}}
					{{/isolate}}
				</div>
			</div>
			<hr />
			<div class="control-group">
				<label class="control-label">Body</label>
				<textarea class="composetext-body input-block-level" rows="2" name="body" required></textarea>
				<div class="character-counter">160</div>
			</div>
			<hr />
			<div class="control-group">
				<label class="control-label">Mission</label>
				<select>
					<option>(none)</option>
					<option>Apollo 13</option>
					<option>The Manhattan Project</option>
				</select>
			</div>
			<hr />
			<p class="text-error composetext-error"></p>
		</div>
		<div class="modal-footer">
			<a class="composetext-cancel btn" data-dismiss="modal">Cancel</a>
			<a class="composetext-send btn btn-primary">Send</a>
		</div>
	</div>
</template>

<template name="composeTextParticipant">
	<span class="label selected-participant">{{alias}} <span class="participant-delete"><i class="icon-remove"></i></span></span>
</template>