<template name="inTextsTable">
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>From</th>
				<th>Body</th>
				<th>Mod.</th>
				<th>Purpose</th>
				<th>Time</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each inTexts}}
				{{> inTextRow}}
			{{/each}}
		</tbody>
	</table>
</template>

<template name="inTextRow">
	<tr>
		<td>{{alias}} <span class="phone-number">{{participant}}</span></td>
		<td>{{body}}</td>
		<td>{{moderation}}</td>
		<td>{{purpose}}</td>
		<td>{{timeRelative time}} <span class="actual-time" style="white-space:nowrap;">{{timeAbsolute time}}</span></td>
		<td>{{#unless isMaster}}<button class="intext-reply btn btn-mini" data-toggle="modal" data-target="#composeText">Reply</button>{{/unless}}</td>
	</tr>
</template>
