<template name="participantActivityTable">
	<table class="table table-striped table-condensed" id="inTextTable">
		<thead>
			<tr>
				<th></th>
				<th>Body</th>
				<th>Mod.</th>
				<th>Purpose</th>
				<th>Time</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{{#each texts}}
			{{> participantActivityRow}}
		{{/each}}
		</tbody>
	</table>
</template>

<template name="participantActivityRow">
	<tr class="{{rowClass}}">
		<td>{{#if alias}}<i class="icon-arrow-right"></i>{{else}}<i class="icon-arrow-left"></i>{{/if}}</td>
		<td>{{body}}</td>
		<td>--</td>
		<td>--</td>
		<td>{{timeRelative time}} <span class="actual-time">{{timeAbsolute time}}</td>
		<td><div class="btn-group"><button class="btn btn-mini"><i class="icon-star-empty"></i></button></div></td>
	</tr>
</template>