 <template name="createBadge">
	<div class="panel panel-default">
		<div class="panel-heading">Create Badge</div>
		<div class="panel-body">
			<form class="create-badge-form" role="form">
				<div class="form-group">
					<label>Name</label>
					<input type="text" name="name" class="form-control text-character-count" data-max-length="15" required="required">
					<div class="text-character-counter">15</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label>Icon Code</label>
							<input type="text" name="icon" class="form-control" required="required">
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label>Color</label>
							<input type="color" name="color" class="form-control" value="#FF0000">
						</div>
					</div>
				</div>
				<div class="badge-preview">
					<label>Badge Preview:</label> <span><i id="badgePreview" class="fa" style="color:#FF0000"></i></span>
				</div>
				<button type="submit" class="btn btn-success">Create</button>
				<button type="button" class="btn btn-default create-badge-clear">Clear</button>
			</form>
		</div>
	</div>
</template>