<template name="adminTextsTable">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Participant</th>
				<th>Body</th>
				<th>Status</th>
				<th>Time</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each this}}
				{{> adminTextRow}}
			{{/each}}
		</tbody>
	</table>
</template>

<template name="adminTextRow">
	<tr class="{{directionClass}}">
		<td>
			{{#if isOutText}}
				{{#each participants}}
					{{participant_alias}} <span class="phone-number">{{participant_id}}</span><br>
				{{/each}}
			{{else}}
				{{alias}} {{#each badges}}<i class="fa {{icon}}" style="color:{{color}}"></i> {{/each}}
			{{/if}}
		</td>
		<td>{{body}}</td>
		<td>
			{{#if isOutText}}
				<label class="label label-info">Out</label>
			{{else}}
				{{status}}
			{{/if}}
		</td>
		<td>{{timeRelative time}}</td>
		<td class="text-button-cell">
			{{#unless isOutText}}
			{{# unless isMaster}}
				<button class="text-table-favorite btn btn-xs btn-default"><i class="fa fa-circle{{#unless favorite}}-o{{/unless}} {{favoriteColorClass}}"></i></button>
				<button class="text-table-mention btn btn-xs btn-default">@</button>
				<button class="text-table-reply btn btn-xs btn-default"><i class="fa fa-reply"></i></button>
			{{/unless}}
			{{/unless}}
		</td>
	</tr>
</template>