.finale-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: black;
  color: white;
  display: flex;
  font-family: gin, serif;
}

/* .finale-overlay > div {
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  display: flex;
  font-family: gin, serif;
  font-size: 60px;
} */

/* .finale-overlay p {
  font-size: 60px;
} */

.finale-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.finale-player h2 {
  font-size: 12vh;
}

.finale-player-name {
  font-size: 10vh;
}

.finale-player-datum {
  font-size: 10vh;
  color: #fea70a;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* .finale-split-video-left > div,
.finale-split-video-right > div {
  position: absolute;
  background-color: black;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 */

.finale-split {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: fade 11s linear infinite;
}

.finale-split > div {
  position: absolute;
  top: 0;
  width: 66%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1vh;
}

.finale-split-video-left > div {
  right: 0;
}

.finale-split-video-right > div {
  left: 0;
}

.finale-split-video-left > video {
  left: 0;
  width: 33%;
  object-fit: contain;
}

.finale-split-video-right > video {
  right: 0;
  width: 33%;
}

h2 .evenLetter {
  color: #d01935;
  animation: flashYellow 2s infinite linear;
}

h2 .oddLetter {
  color: #fea70a;
  animation: flashRed 2s infinite linear;
}

@keyframes flashRed {
  50% {
    color: #d01935;
  }
}

@keyframes flashYellow {
  50% {
    color: #fea70a;
  }
}

.glitch-fullscreen {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: url('/casino/hacker/glitch-landscape.png');
  background-size: cover;
  animation: wobble 0.2s infinite linear;
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-height: 600px) {
  .finale-overlay h2 {
    display: block;
  }
}

.finale-overlay .chip {
  position: relative;
  display: block;
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 50%;
  animation: tiltChip 2s ease-in-out infinite;
}

.finale-overlay .roulette-winner-board .chipRing {
  border-radius: 50%;
  border: 20px dashed #121639;
}

.finale-player {
  padding: 2vw 2vh;
}

.finale-text {
  padding: 2vw 2vh;
  font-size: 12vh;
}
