.finale-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: black;
  color: white;
  font-family: var(--font-title);
  text-align: center;
}

.finale-phase {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.finale-split {
  display: flex;
}

/* equally span */
.finale-split > * {
  flex: 1;
}

.finale-split-video-left {
  flex-direction: row-reverse;
}

.finale-player,
.finale-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2vw 2vh;
}

.finale-player h2 {
  font-size: 10vh;
  margin-bottom: 5vh;
}

.finale-player-name {
  font-size: 10vh;
  margin-top: 3vh;
}

.final-money-stolen {
  font-size: 12vh;
}

.finale-player-datum {
  font-size: 10vh;
  color: var(--color-accent-light);
}

.glitch-fullscreen {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: url('/casino/hacker/glitch-landscape.png');
  background-size: cover;
  animation: wobble 0.2s infinite linear;
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.video-fullscreen {
  width: 100%;
  height: 100%;
}

.video-fullscreen video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-height: 600px) {
  .finale-overlay h2 {
    display: block;
  }
}

.finale-overlay .chip {
  position: relative;
  display: block;
  width: 250px;
  height: 250px;
  background: var(--color-accent-dark);
  border-radius: 50%;
  animation: tiltChip 2s ease-in-out infinite;
}

.finale-text {
  padding: 2vw 2vh;
  font-size: 12vh;
}
