.leaderboard-row:nth-child(4n + 2),
.leaderboard-row:nth-child(4n + 4) {
  position: relative;
  left: 32px;
  margin-right: 32px;
}

p.leaderboard-item,
p.leaderboard-value {
  font-size: 18px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  word-break: break-word;
  position: relative;
}

p.leaderboard-value {
  margin-left: 16px;
  white-space: nowrap;
}

@media (max-height: 600px) {
  .leaderboard-row {
    padding-left: 16px;
  }
}
