<template name="screenDrawings">
	{{#constant}}
	<div class="cave-drawings">
		<div class="cave-drawing abbey"></div>
		<div class="cave-drawing andrew"></div>
		<div class="cave-drawing michelle"></div>
		<div class="cave-drawing aubrey"></div>
		<div class="cave-drawing will"></div>
		<div class="cave-drawing caitlin"></div>
		<div class="cave-drawing emily"></div>
		<div class="cave-drawing aaron"></div>
		<div class="cave-drawing tilda2"></div>
		<div class="cave-drawing faw"></div>
		<div class="cave-drawing jonathan"></div>
		<div class="cave-drawing kaylin"></div>
		<div class="cave-drawing meredith"></div>
		<div class="cave-drawing miley"></div>
		<div class="cave-drawing morgan"></div>
		<div class="cave-drawing amanda"></div>
		<div class="cave-drawing putin"></div>
		<div class="cave-drawing reagan"></div>
		<div class="cave-drawing beyonce"></div>
		<div class="cave-drawing thomas"></div>
		<div class="cave-drawing bieber"></div>
		<div class="cave-drawing tilda1"></div>
	</div>
	<div class="cave-drawings-src">
	</div>
	{{/constant}}
</template>