<template name="screenFooter">
	<div class="info-bar">
		<div class="info-bar-half">
		{{> screenInfo}}
		</div>
		<div class="info-bar-half">
		{{> screenTicker}}
		</diV>
	</div>
	<div class="screen-footer">
	</div>
</template>

<template name="screenInfo">
	<div class="info-bar-text"><i class="fa fa-music"></i> {{infoText}}</div>
</template>

<template name="screenTicker">
	<div class="info-bar-ticker"><i class="fa fa-location-arrow"></i> {{tickerText}}</div>
</template>

<template name="screenInstructions">
	<div class="screen-instructions">
		<div class="screen-instruction">
			<div class="instruction-hashtag">#change</div>
			<div class="instruction-detail">Change your alias.</div>
		</div>
		<div class="screen-instruction">
			<div class="instruction-hashtag">#goodbye</div>
			<div class="instruction-detail">Leave the party.</div>
		</div>
	</div>
</template>

<template name="screenStats">
<div class="footer-stats">
	<div class="footer-stat">
		<div class="stat-name">Total Texts</div>
		<div class="stat-value">{{totalTexts}}</div>
	</div>
	<div class="footer-stat">
		<div class="stat-name">Participants</div>
		<div class="stat-value">{{totalParticipants}}</div>
	</div>
</div>
</template>