@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

$black: #000000;
$bg: #280842;
$purple: #4f1c9d;
$plum: #4c4781;
$pink: #ac209d;
$yellow: #d4c79c;
$white: #ffffff;

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background-image: url('/au-background-dark.png');
  background-color: $bg;
  color: $white;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #000000;
  border-bottom: 2px solid $yellow;
  padding: 5px 8px;
  font-family: 'Press Start 2P', sans-serif;

  // Parent flex stuff
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  // Child flex stuff
  flex-basis: 2.8vw;

  h1 {
    color: cyan;
    font-weight: normal;
    font-size: 2.5vw;
  }
}

.lowerArea {
  // Parent flex stuff
  display: flex;
  flex-direction: row;

  // Child flex stuff
  flex-grow: 1;
}

.leftColumn {
  position: relative;

  flex-grow: 1;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  flex-basis: 35%;
}
