@font-face {
  font-family: 'digital-7';
  src: url('/derby/digital-7_mono.ttf') format('truetype');
}

.led-cell {
  font-family: 'digital-7', monospace;
  width: 3rem;
  height: 3.5rem;
  background-color: #000;
  color: #3b3b3b;
  font-weight: bold;
  font-size: 3rem;
  border-radius: 0.35rem;
  text-transform: uppercase;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  padding-left: 0.1rem; /* Offset for this font */
}

.led-cell span {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.led-lit {
  color: #fe9742;
}

.led-lit span {
  background: radial-gradient(circle, #ffe8a0 0%, #ffa736 50%, #ff8a00 100%);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow:
    0 0 2px #ffb347,
    0 0 3px #ff5e00;
  animation: flickerGlow 2.5s ease-in-out infinite;
}

@keyframes flickerGlow {
  0%,
  100% {
    filter: drop-shadow(0 0 2px #ffb347);
  }
  50% {
    filter: drop-shadow(0 0 4px #ff8a00);
  }
}
