@font-face {
  font-family: 'digital-7';
  src: url('/derby/digital-7_mono.ttf') format('truetype');
}

/* Need RGB so I can use alpha values*/
.derby-led {
  --led-100: 255, 232, 160;
  --led-200: 255, 179, 71;
  --led-300: 254, 151, 66;
  --led-400: 255, 138, 0;
  --led-500: 255, 94, 0;
  --led-600: 255, 70, 0;

  --led-unlit: #252525;
  --led-cell-background: #171717;

  --led-glow-gradient: radial-gradient(
    circle at 50% 45%,
    rgba(var(--led-100), 0.5) 0%,
    rgba(var(--led-200), 0.4) 30%,
    rgba(var(--led-300), 0.3) 60%,
    rgba(var(--led-400), 0.4) 85%,
    rgba(var(--led-500), 0.5) 100%
  );
}

.derby-led-red {
  --led-100: 255, 190, 190;
  --led-200: 255, 100, 100;
  --led-300: 255, 66, 66;
  --led-400: 220, 20, 20;
  --led-500: 160, 0, 0;
  --led-600: 110, 0, 0;
}

.derby-led-green {
  --led-100: 160, 255, 160;
  --led-200: 71, 255, 71;
  --led-300: 100, 200, 100;
  --led-400: 0, 138, 0;
  --led-500: 0, 94, 0;
  --led-600: 0, 70, 0;
}

.led-cell {
  font-family: 'digital-7', monospace;
  width: 3rem;
  height: 3.5rem;
  background-color: var(--led-cell-background);
  font-weight: bold;
  font-size: 3rem;
  border-radius: 0.35rem;
  text-transform: uppercase;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  padding-left: 0.1rem; /* Offset for this font */
  color: var(--led-unlit);
  text-shadow: 0 0 2px var(--led-unlit); /* Need it to be the same weight when off */
  transition: all 0.15s ease-out;
}

.led-cell span {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

/* default: text - need to move this to text - JTG CLEAN UP*/
.led-lit {
  color: rgb(var(--led-300));
}

.led-lit span {
  background: radial-gradient(
    circle,
    rgb(var(--led-100)) 0%,
    rgb(var(--led-200)) 50%,
    rgb(var(--led-400)) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  text-shadow:
    0 0 2px rgb(var(--led-200)),
    0 0 3px rgb(var(--led-500));
  animation: derby-text-glow 2.5s ease-in-out infinite;
}

/* Bulbs */
.derby-led.led-round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--led-glow-gradient), rgb(var(--led-400));
  box-shadow:
    inset 0 -4px 8px rgba(0, 0, 0, 0.4),
    0 0 8px rgba(var(--led-200), 0.3);
  animation: derby-led-round-glow 2.5s ease-in-out infinite;
}

.derby-led.led-round.led-blink {
  animation: derby-led-round-blink 0.8s ease-in-out infinite;
}

@keyframes derby-text-glow {
  0%,
  100% {
    filter: drop-shadow(0 0 1px rgb(var(--led-200)));
  }
  50% {
    filter: drop-shadow(0 0 3px rgb(var(--led-300)));
  }
}

@keyframes derby-led-round-glow {
  0%,
  100% {
    background: var(--led-glow-gradient), rgb(var(--led-400));
    filter: drop-shadow(0 0 4px rgba(var(--led-500), 0.2));
  }
  50% {
    background: var(--led-glow-gradient), rgba(var(--led-400), 0.6);
    filter: drop-shadow(0 0 3px rgba(var(--led-500), 0.5));
  }
}

@keyframes derby-led-round-blink {
  0%,
  100% {
    background: var(--led-glow-gradient), rgb(var(--led-400));
    filter: drop-shadow(0 0 4px rgba(var(--led-500), 0.2));
  }
  50% {
    background: var(--led-glow-gradient), rgb(var(--led-600));
    filter: drop-shadow(0 0 2px rgba(var(--led-500), 0.05));
  }
}
