@font-face {
  font-family: 'digital-7';
  src: url('/derby/digital-7_mono.ttf') format('truetype');
}

.led-cell {
  font-family: 'digital-7', monospace;
  width: 2rem;
  height: 2.5rem;
  background-color: #000;
  color: #fe9742;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  text-transform: uppercase;
  padding-left: 0.3rem;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.led-cell span {
  background: radial-gradient(circle, #ffe8a0 0%, #ffa736 50%, #ff8a00 100%);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow:
    0 0 1px #ffb347,
    0 0 2px #ff5e00;
  animation: flickerGlow 2.5s ease-in-out infinite;
}

@keyframes flickerGlow {
  0%,
  100% {
    filter: drop-shadow(0 0 1px #ffb347);
  }
  50% {
    filter: drop-shadow(0 0 3px #ff8a00);
  }
}
