/* line 1, sass/_interface-feature-area.scss */
.tscreen-shell {
  .tscreen-feature-area {
    width: 35%;
    position: absolute;
    right: 0;
    height: 100%;
    padding: 20px;
  }

  /* line 18, sass/_interface-feature-area.scss */
  .tscreen-admin-controls {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
  }

  .tscreen-box {
    width: 100%;
    background-color: rgba(40,5,40,.8);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #D62;
    position: absolute;
    max-width: 450px;
    right: 20px;
}
.tscreen-box-title {
    text-align: center;
    font-family: 'Roboto', sas-serif;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px  #69D;
    padding-bottom: 11px;
    border-bottom-style: dashed;
}
.tscreen-featured-alias {
    font-size: 1.5em;
    margin-bottom: 7px;
}
.tscreen-box-content {
    padding-top: 15px;
}
.tscreen-featured-text {
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    color: #F7F;
}

.tscreen-box-featured-text .tscreen-box-content {
    text-align: center;
}

.leaders-table-heading {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
}
.leaders-list {
    list-style-type: decimal;
    font-size: 1.4em;
    list-style-position: inside;
    margin-top: 5px;
}
.leaders-list-alias {
    margin-left: 10px;
}
.leaders-list-texts {
    float: right;
}

.leaders-list-leader {
    padding-top: 10px;
}

.leaders-list-leader:nth-child(10) {
  color: #E44;
}
/* line 113, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(9) {
  color: #D94;
}
/* line 116, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(8) {
  color: #FF4;
}
/* line 119, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(7) {
  color: #AE4;
}
/* line 122, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(6) {
  color: #4D4;
}
/* line 125, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(5) {
  color: #4EA;
}
/* line 128, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(4) {
  color: #48F;
}
/* line 131, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(3) {
  color: #45F;
}
/* line 134, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(2) {
  color: #83E;
}
/* line 137, sass/_interface-texts.scss */
.leaders-list-leader:nth-child(1) {
  color: #A38;
}


.tscreen-tilda {
  transition: transform 1500ms;
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 0;
  right: 20px;
  transform: translateY(100%);
}



.tscreen-tilda-face {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background-image: url('/images/tilda-neck-cut.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;

    animation-delay: 0s;
    animation-duration: 2000ms;
    animation-name: tildaHover;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

  .tscreen-feature-area.normal .tscreen-tilda,
  .tscreen-feature-area.question .tscreen-tilda {
    transform: translateY(0);
  }


.tscreen-box {
  right: -100%;

  transition: right 400ms;
}

.tscreen-feature-area.leaderboard .tscreen-leaderboard-box {
  right: 20px;
}

.tscreen-feature-area.question .tscreen-question-box {
  right: 20px;
}

.tscreen-feature-area.featured-text .tscreen-featured-box {
  right: 20px;
}

.tscreen-feature-area.emotion .tscreen-emotion-challenge {
  transform: translateX(0);
}

.tscreen-box-question {
    color: #F7D;
    font-weight: bold;
    font-size: 1.4em;
}

}

@keyframes tildaHover {
  0% {
    transform: translateY(0) skewX(0deg);
    opacity: 1;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 1;
    transform: translateY(5%) skewX(-5deg);
  }
}
