.tscreen-emotion-challenge {
	& {
		height: 100%;
		width: 100%;
		transform: translateX(120%);
		transition: transform 800ms;
	}

	.tscreen-emotion-title { 
		border-top: 1px solid #444444;
	  padding: 10px;
	  box-shadow: 0 0 4px;
	  background-color: rgba(0,0,0,0.7);
	}

	.tscreen-emotion-title-text {
	    font-size: 1.2em;
	    text-align: center;
	    line-height: 1.2em;
	    color: #FF3C70;
	}

	.tscreen-emotion-hashtag {
	    text-align: center;
	    font-size: 2em;
	    line-height: 1.6em;
	}

	.tscreen-emotion-selfie {
		position: relative;
		float: left;
		width: 50%;
		padding-bottom: 55%;
		background-size: cover;
		width: 47%;
		margin-right: 6%;
	  box-shadow: 0 0 4px;

		&:last-child {
			margin-right: 0;
		}

		&::before {
			background-color: #FFF;
			position: absolute;
			height: 100%;
			width: 100%;
			content: "";
	    animation-delay: 0s;
	    animation-duration: 500ms;
	    animation-fill-mode: forwards;
	    animation-name: imageFlash;
		}

		&::after {
			position: absolute;
			right: 0;
			bottom: 0;
			content: attr(data-score) '%';
			padding: 7px 6px;
			text-shadow: 1px 1px 5px #000;
			font-size: 1.5em;
		}
	}

	.tscreen-emotion-lead-images, .tscreen-emotion-all-images {
    padding: 10px 0;
    display: block;

    .tscreen-emotion-images-heading {
    	margin-bottom: 10px;
    	font-size: 1.8em;
    	text-align: center;
    	color: #F38DFF;
    }
	}

	.tscreen-emotion-lead-images {
	   .tscreen-emotion-selfie {
		   	box-shadow: 0 0 10px #FFD700, 0 0 10px #FFD700, 0 0 10px #FFD700;
	   }
	}
}

@keyframes imageFlash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
