$background-color: #0e0412;
$primary-color: #FF3C70;
$secondary-color: #F38DFF;

.tscreen-shell {
/* line 1, sass/_interface-bottom-bar.scss */
.tscreen-bottom-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #444444;
  background-color: $background-color;
  box-shadow: 0 0 4px;
  height: 50px;
}


/* line 13, sass/_interface-bottom-bar.scss */
.tscreen-ticker {
  font-family: 'Open Sans', sans-serif;
  color: $primary-color;
  width: 5000%;
  font-size: 1.2em;
  line-height: 30px;
  position: relative;
}
/* line 21, sass/_interface-bottom-bar.scss */
.tscreen-ticker .tscreen-ticker-group {
  margin-right: 15px;
}
/* line 24, sass/_interface-bottom-bar.scss */
.tscreen-ticker .tscreen-ticker-group:after {
  font-family: FontAwesome;
  content: '\f0c8';
  margin-left: 15px;
  color: #eee;
}
/* line 33, sass/_interface-bottom-bar.scss */
.tscreen-ticker .hashtag {
  color: $secondary-color;
  font-weight: bold;
}
/* line 37, sass/_interface-bottom-bar.scss */
.tscreen-ticker .tscreen-ticker-item {
  margin-right: 12px;
}
/* line 40, sass/_interface-bottom-bar.scss */
.tscreen-ticker .tscreen-ticker-item:last-child {
  margin-right: 0;
}
/* line 44, sass/_interface-bottom-bar.scss */
.tscreen-ticker .achievement-square {
  height: 10px;
  width: 10px;
  background-color: #333;
  display: inline-block;
}
/* line 51, sass/_interface-bottom-bar.scss */
.tscreen-ticker i.fa {
  margin-right: 3px;
}
/* line 55, sass/_interface-bottom-bar.scss */
.tscreen-ticker .fa-star {
  color: #FE3;
}
/* line 58, sass/_interface-bottom-bar.scss */
.tscreen-ticker .fa-location-arrow {
  color: #FFF;
}
/* line 61, sass/_interface-bottom-bar.scss */
.tscreen-ticker .fa-umbrella {
  color: #FFF;
}
/* line 64, sass/_interface-bottom-bar.scss */
.tscreen-ticker .fa-leaf {
  color: #6E7;
}

.tscreen-bottom-bar {
  .tscreen-left-eyes, .tscreen-right-eyes {
    width: 50%;
    position: absolute;
    height: 50px;
    bottom: 0;
  }

  .tscreen-right-eyes {
    right: 0;
  }

  .tscreen-eye {
    height: 40px;
    background-size: contain;
    width: 100px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-position: center center;

    animation-delay: 0s;
    animation-duration: 1500ms;
    animation-name: eyeHover;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

  }

  .tscreen-left-eyes .tscreen-eye {
    float: right;
  }

  .tscreen-right-eyes .tscreen-eye {
    float: left;
  }
}

}

@keyframes eyeHover {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(4px)
  }
}
