<template name="screenEmotionChallenge">
	<div class="tscreen-emotion-title">
		<div class="tscreen-emotion-title-text">{{featuredLabel}}</div>
		<div class="tscreen-emotion-hashtag">#{{emotion}}</div>
	</div>

	<div class="tscreen-emotion-lead-images clearfix">
		<div class="tscreen-emotion-images-heading">Terrific Twins</div>

		{{#each leadSelfies}}
			{{>screenEmotionImage}}
		{{/each}}
	</div>

	<div class="tscreen-emotion-all-images clearfix">
		<div class="tscreen-emotion-images-heading">All attempts</div>

		{{#each allSelfies}}
			{{>screenEmotionImage}}
		{{/each}}
	</div>
</template>

<template name="screenEmotionImage">
	<div class="tscreen-emotion-selfie" style="background-image:url('{{url}}')" data-score="{{score}}">
	</div>
</template>
