<template name="screenFeed_face">
	<div class="tscreen-texts-feed">
		{{#each feedTexts}}
			{{>screenFeedItem_face}}
		{{/each}}
	</div>
</template>

<template name="screenFeedItem_face">
		<div class="texts-feed-item {{textClass}} notransition" style="display: none;">
		<div class="texts-feed-meta">
			<div class="texts-feed-name">{{alias}}{{#if isMaster}} <i class="fa fa-heart"></i>{{/if}}</div>
			<div class="texts-feed-badges">
				{{#each badges}}
					<i class="fa {{icon}}" style="color:{{color}}"></i>
				{{/each}}
			</div>
			{{#unless isMaster}}
			<div class="texts-feed-achievements" data-checkins="{{checkins}}">
				{{#each checkpoints}}
				<div class="texts-feed-achievement"></div>
				{{/each}}
			</div>
			{{/unless}}
		</div>
		<div class="texts-feed-text rel-time-data" data-utc="{{timeUtc}}" data-reltime="{{timeRelative time true}}">{{bodyFormatted}}</div>
	</div>				
</template>