$background-color: #220011;
$textuality-color: #FF3C70;
$theface-color: #F38DFF;
$phone-number-color: #FF3C70;

.tscreen-shell {

  .tscreen-title-bar {
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #444444;
    padding: 10px;
    background-color: $background-color;
    box-shadow: 0 0 4px;
  }

  .tscreen-textuality {
    float: left;
    font-family: "Roboto", sans-serif;
    font-size: 3em;
    color: $textuality-color;
  }

  .tscreen-textuality-sub {
    color: $theface-color;
  }

  .tscreen-phone-number {
    float: right;
    text-align: right;
    font-size: 3em;
    color: $phone-number-color;
    font-family: "Roboto", sans-serif;
    line-height: 1em;
    position: relative;
  }

  .tscreen-phone-number:before {
    content: "Send texts to";
    text-transform: uppercase;
    color: #CCC;
    font-size: 14px;
    display: inline-block;
    margin-right: 6px;
    line-height: initial;
  }

}